<div class="box-content">
  <div class="content" [class.modal]="true">
    <div class="content--showcase" id="showcase">
      <p class="showcase--caption-text"><b>Interior Design </b></p>
      <h1 class="showcase--heading"><b>Showcase</b></h1>
      <hr class="underline">
      <div class="showcase--image">
        <div *ngFor="let list of listImage ">
          <img class="{{list.nameClass}}" src="{{list.name}}">
        </div>
      </div>
    </div>
    <div class="content--services" id="services">
      <h1 class="service--heading"><b>Services.</b></h1>
      <hr class="underline">
      <br>
      <p>We are a interior design service that focus on what's best for your home and what's best for you!</p>
      <p>Some text about our services - what we do and what we offer. We are lorem ipsum consectetur adipiscing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
        in voluptate velit esse cilium dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident,sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="content--designers" id="designers">
      <h1 class="designer--heading"><b>Designers.</b></h1>
      <hr class="underline">
      <br>
      <p>The best team in the world.</p>
      <p>We are lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
        id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p><b>Our designers are thoughtfully chosen:</b></p>
      <div class="designer--card">
        <div class="card" *ngFor="let listCard of listPeople">
          <img class="card--img" src="{{listCard.img}}">
          <h2 class="card--namePeople"><b>{{listCard.namePeople}}</b></h2>
          <h3 class="card--nameJob">{{listCard.nameJob}}</h3>
          <p class="card--context">{{listCard.context}}</p>
        </div>
      </div>
    </div>
    <div class="content--packages" id="packages">
      <h1 class="package--heading"><b>Packages</b></h1>
      <hr class="underline" >
      <br>
      <p>Some text our prices. Lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure</p>
      <div class="package--table" >
        <div *ngFor="let item of listItemTable">
          <div class="{{item.className}}">
            <ul class="table--listItem">
              <li class="{{item.className}}--title"> {{item.titleTable}}</li>
              <li class="{{item.className}}--item"> {{item.item1}}</li>
              <li class="{{item.className}}--item"> {{item.item2}}</li>
              <li class="{{item.className}}--item"> {{item.item3}}</li>
              <li class="{{item.className}}--item"> {{item.item4}}</li>
              <li class="{{item.className}}--item"> {{item.item5}}</li>
              <li class="{{item.className}}--item">
                <h2>{{item.item6}}</h2>per room
              </li>
              <li class="{{item.className}}--item">
                <button class="{{item.className}}--buttonItem"> Sign Up</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="content--contact" id="contact">
      <h1 class="contact--heading"><b> Contact.</b></h1>
      <hr class="underline" >
      <br>
      <p>Do you want us to style your home? Fill out the form and fill me in with the details :) We love meeting new
        people.</p>
      <form class="contact--form">
        <label class="form--label"> Name</label>
        <input class="form--input" type="text"  required>
        <label class="form--label"> Email</label>
        <input class="form--input" type="text" required>
        <label class="form--label"> Message</label>
        <input class="form--input" type="text" required>
        <button class="form--button" type="submit"> Send Message</button>
      </form>
    </div>
  </div>
  <app-footer></app-footer>
</div>
