
 @mixin paddingLeft {
  padding-left: 6%;
}

@mixin marginTop {
  margin-top: 6%;
}

%width100 {
  width: 100%;
}

%titleTable {
  color: white;
  padding: 35px 0px 35px 0px;
  text-align: center;
  width: 100%;
  font-size: 24px;
}

%itemTable {
  list-style-type: none;
  padding: 20px 0;
  background: #f1f1f1 !important;;
  text-align: center;
  @extend %width100;
  margin-left: 0px;
  border-bottom: 1px solid #ddd;
}

%tableButton {
  border: none;
  padding: 15px 20px;
  font-size: 16px;
}

%tableButtonHover {
  background: black;
  color: white;
}

%contactLabelInput {
  height: 40px;
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
  display: block;
  @extend %width100;
}
$redColor: #f44336;
